@model List<GameListVIewModel>
@{
    ViewData["Title"] = "Welcome to my site!";
}
@{
    var firstgame = Model.Any() ? Model[0] : null;
    var secondgame = Model.Count > 1 ? Model[1] : null;
    var thrtgame = Model.Count > 2 ? Model[2] : null;
}

@if (!Model.Any())
{
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the best place for games!</h1>
        <p class="lead">There are no games in the system currently available so why don't you just add one?</p>
        <hr class="my-4">
        <p class="lead">
            <a asp-controller="Games" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Game</a>
        </p>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        @if (firstgame != null)
        {
             <div class="carousel-item active ">
            <img src="@firstgame.ImageUrl" class="d-block w-100" alt="@firstgame.Name @firstgame.Category">
            <div class="carousel-caption d-none d-md-block">
                <h5><a class="btn btn-primary" asp-controller="Games" asp-action="Details" asp-route-id="@firstgame.Id">@firstgame.Name @firstgame.Category </a></h5>
            </div>
        </div>
        }
        @if (secondgame != null)
        {
          <div class="carousel-item">
            <img src="@secondgame.ImageUrl" class="d-block w-100" alt="@secondgame.Name @secondgame.Category">
            <div class="carousel-caption d-none d-md-block">
                <h5><a class="btn btn-primary" asp-controller="Games" asp-action="Details" asp-route-id="@secondgame.Id">@secondgame.Name @secondgame.Category </a></h5>
            </div>
        </div>   
        }
        @if (thrtgame != null)
        {
            <div class="carousel-item">
                <img src="@thrtgame.ImageUrl" class="d-block w-100" alt="@thrtgame.Name @thrtgame.Category">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a class="btn btn-primary" asp-controller="Games" asp-action="Details" asp-route-id="@thrtgame.Id">@thrtgame.Name @thrtgame.Category </a></h5>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
